.flight {
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: 4fr auto;
    border: 2px cornsilk solid;
    border-radius: 12px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin: 30px;
    background-color: rgba(99, 164, 167, 0.8);
    color: cornsilk
}
#flight-details{
    display: grid;
    /* grid-template-columns: 2fr 1.2fr; */
    grid-template-columns: 1.3r 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "airline dep dura"
    "number arr price";
    column-gap: 20px;
    row-gap: 10px;
}

#departure{
    grid-area: dep;
}

#arrival{
    grid-area: arr;
}

#duration{
    grid-area: dura;
}

#price{
    grid-area: price;
}

#airling {
    grid-area: airline;
}

#number {
    grid-area: number;
}

.flight-button{
    background-color: rgb(138, 0, 0);
    color: cornsilk;
    border: 2px outset rgb(103, 0, 0);
    border-radius:12px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
}

.flight-button:hover{
    font-size: 16px;
    box-shadow: 0 0 2px 2px;
}

h4 {
    margin: 2px;
}

@media (max-width: 500px) {
    .flight {
        margin: 15px;
        column-gap: 10px;
    }

    #flight-details {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "airline dep"
        "number arr"
        "price dura";
    }

    .flight-button {
        height: 100px;
        width: 75px;
    }
}