.title {
    text-align: center;
    font-size: 40px;
    margin: 10px;
    color:cornsilk;
}

.title-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 20px 40px;
    padding: 0px;
}

.search-bar-selector{
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    justify-items: center;
    height: fit-content;
    margin: 0px 10%;
}

.navbar {
    padding-bottom: 20px;
}

.navbar > NarBar {
    justify-self: right;
}

.navbar > ul > li > a {
    margin: 0px 10px;
    text-decoration: none;
}

.navbar > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.budget-link {
    justify-self: left;
}

.budget-link > a {
    text-decoration: none;
}

.languages {
    display: inline-block;
    background-color: white;
    border-radius: 12px;
    border: 4px double  rgb(241, 87, 4);
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 0px 20px;
    width: max-content;
    cursor: pointer;
    margin: 5px;
}


.regions {
    display: inline-block;
    background-color: white;
    border-radius: 12px;
    border: 4px double  rgb(241, 87, 4);
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 0px 20px;
    width: 250px;
    cursor: pointer;
    margin: 5px;
}

.lucky-dip {
    display: inline-block;
    background-image: linear-gradient( rgb(241, 90, 36), rgb(247, 147, 30));
    border-radius: 50px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

.lucky-dip:hover {
    background-color: red;
}

.slidecontainer {
    width: 20%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: rosybrown;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background:  rgb(241, 87, 4);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:  rgb(241, 87, 4);
    cursor: pointer;
  }


  @media (max-width:1050px) {
        .search-bar-selector {
            margin: 0px 10px;
        }
  }

  @media (max-width: 850px) {
      .search-bar-selector {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 0 10%;
      }

      .languages {
          grid-column: 1;
          grid-row: 1;
          width: 90%;
      }

      .regions {
          grid-column: 1;
          grid-row: 2;
          width: 90%;
      }

      .lucky-dip {
          grid-column: 2;
          grid-row: 2;
      }

      .nations {
          grid-column: 2;
          grid-row: 1;
          width: 90%;
      }
  }

  @media (max-width: 500px) {
    .search-bar-selector {
        display: inline-flex;
        flex-direction: column;
        justify-self: center;
        margin: 0px 10%;
    }
    .regions{
        display: none;
      }
    .languages{
    display: none;
    }

    .title-links {
        display: flex;
        flex-direction: column;
        max-width: min-content;
        margin: 5px auto 0px auto;
    }

    .title-links > img {
        width: 100vw;
        margin-left: 80px;
    }

    .navbar > ul {
        padding: 0px;
    }

    .lucky-dip {
        margin: 5px auto;
    }

    .navbar {
        padding: 0px;
    }
  }